<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Поиск резюме по запросу: "{{ query }}"</title>
    </head>
    <style>
        #desc_box {width: 500px;}
        .cv_title {font-weight: bold;}
        .cv_preview {display: inline;}
        .cv_body {display: inline;}
        button {display: block; padding: 2px; border-radius: 6px; margin-top: 5px;}
    </style>
    <body>
        <p style="margin: 1px; padding: 1px;">Поиск резюме по запросу: "{{ query }}"<br>Найдено {{ results|length }} резюме за {{ runtime }} с.
        </p>
        {% if not results %}
            <p>Ничего не найдено.</p>
        {% endif %}
        <ol>
            {% for cv, score in results %}
                <li class="cv" id="{{ 'cv_%s' % loop.index }}" style="margin-bottom: 8px;">
                    <div class="cv_title">{{ cv.title }}</div>
                    {% if cv.desc %}
                        <label for="desc_box" style="font-style: italic">Описание:</label>
                        {% if cv.desc.split()|length > 20 %}
                            <div id="desc_box">
                                <div class="cv_preview" id="{{ 'cv_%s_prev' % loop.index }}">{{ ' '.join(cv.desc.split()[:20]) + ' ...' }}</div>
                                <div class="cv_body" id="{{ 'cv_%s_body' % loop.index }}" style="display: none">{{ ' '.join(cv.desc.split()[20:]) }}</div>
                            </div>
                            <button id="{{ 'cv_%s_body_button' % loop.index }}" onclick="activateElement('{{ 'cv_%s_body_button' % loop.index }}', '{{ 'cv_%s_body' % loop.index }}');">Развернуть</button>
                        {% else %}
                            <div id="desc_box">
                                <div class="cv_preview" id="{{ 'cv_%s_prev' % loop.index }}">{{ cv.desc }}</div>
                            </div>
                        {% endif %}
                    {% endif %}
                    <form action="{{ url_for('view') }}" target="_blank">
                        <input type="text" name="cv_id" value="{{ cv._id }}" style="display: none"/>
                        <input type="submit" value="Смотреть резюме" style="padding: 2px; border-radius: 6px; margin-top: 5px;"/>
                    </form>
                </li>
            {% endfor %}
        </ol>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='activateElement.js') }}"></script> 
</html>